.jfx-slider > .track {
    -fx-background-color: #cecece;
}

.jfx-slider > .colored-track {
    -fx-background-color: #3e3e3e;
}
.jfx-slider > .thumb {
    -fx-background-color: #3e3e3e;
}

.jfx-slider > .animated-thumb {
    -fx-background-color: transparent;
}

.jfx-slider > .slider-value {
    -fx-fill: transparent;
}
